.products-container {
    align-items: center;
    text-align: center;
    width: 100%;
    border: 1px solid gray; 
    border-radius: 5px;
    background-color: lightsteelblue;
}

.action-button {
    margin-left: .5rem;
}

.header-actions {
    padding: 0.5rem;
}

.group-title {
    color: blue;
    font-weight: 600;
}
.item {
    text-decoration: none;
    color: black;
    font-weight: 600;
    list-style-type: none;
}
table, th, td {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
  }

  th, td {
    padding: 15px;
    text-align: left;
  }  